body {
    font-style: italic;
    color: rgb(80, 78, 78);
    margin: 0;
}

h1, h4 {
    margin: 0;
}

#cabecalho {
    background-color: lightblue;
    height: 70px;
    width: 100%;
}

#menu {
    background-color: lightgreen;
    height: 300px;
    width: 250px;
    float: left;
}

#conteudo {
    background-color: lightsalmon;
    height: 300px;
    width: 100%;
}

#rodape {
    background-color: lightcoral;
    height: 50px;
    width: 100%;
}